.App {
    background-color: #ffffff;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}

.todo-item {
    border: 1.5px solid #cccccc;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 3px;
}

.todo-checkbox {
    width: 22px;
    height: 22px;
    border: 1px solid #888888;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
}

.todo-checkbox:hover {
    background-color: #88cc8888;
}

.todo-checkbox-complete {
    background-color: #88cc88;
    border-color: #88cc88;
}

.todo-title {
    line-height: 24px;
    font-size: 18px;
    overflow: auto;
}

.todo-title-complete {
    color: #646464;
    text-decoration: line-through;
}