.App {
  background-color: #ffffff;
  max-width: 600px;
  padding: 30px;
  margin: auto;
}

.todo-item {
  color: #000;
  margin: 3px;
  border: 1.5px solid #ccc;
  border-radius: 16px;
  padding: 8px 16px;
}

.todo-item-complete {
  color: #646464;
  text-decoration: line-through;
}